@import "tailwindcss";

:root {
  --background: #1F1C2C;
  --background-secondary: #2C2A3A;
  --foreground: #928DAB;
  --primary: #6C63FF;
  --secondary: #FF6F61;
  --accent: #FFB6B9;
  --error: #FF4C4C;
  --warning: #FF9F43;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Bahnschrift, sans-serif;
}

.list {
  display: flex;
  flex-direction: row;
  gap: 1em;
  padding: 1em;
  width: fit-content;
  height: fit-content;
}

.game-card {
  background: var(--background-secondary);
  color: var(#FFF);
  font-size: 1rem;
  padding: 1em;
  box-shadow: 0 .2em .5em rgba(0, 0, 0, 0.1);
  width: fit-content;
  height: fit-content;
  transition: all .2s ease-in-out;
}

.game-card:hover {
  transform: scale(1.05);
  box-shadow: 0 .4em .8em rgba(0, 0, 0, 0.2);
}

.text-color {
  color: var(--foreground);
}